body{
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  background-color: rgb(232, 229, 229);
}

.product-container{
  display: inline-grid;
  max-width: 80%;
  background: #fff;
  z-index: 1;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  place-items: center;
  
}
.product-item{
  width: 100%;
  max-height: 150px;
  margin: 10px;
  padding: 10px;
  object-fit: contain;
}

.product-title{
  inline-size: 300px;
}

.cart-btn{
  max-width: 100px;
}

.header{
  background-color: #69757d;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.e-commerce-logo{
  width: 100px;
  margin: 0 20px;
  margin-top: 18px;
  object-fit: contain;
}

.header-search{
  display: flex;
  flex: 1;
}

.search-input{
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.search-icon{
  padding: 5px;
  height: 22px;
  background-color: #f49c3e;
}

.header-option{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.header-link{
  color: white;
  text-decoration: none;
}

.header-option1{
  font-size: 10px;
}

.header-option2{
  font-size: 13px;
  font-weight: 800;
}

.header-nav{
  display: flex;
  justify-content: space-evenly;
}

.header-basket-items{
  margin-left: 10px;
  margin-right: 10px;
}

.banner {
  width: 80%;
  height: 500px;
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: -1;
  margin-bottom: -150px;
}

.header-menu-div{
  box-shadow: 0 1px 3px -2px black;
  padding: 20px;
}

.header-menu{
display: flex;
justify-content: center;
  list-style: none;
  gap: 50px;
  font-size: 20px;
  font-weight: 500;
}


.header-menu li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}

.header-menu hr{
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background-color: rgb(235, 158, 75);
}

.login{
  display: grid;
  place-items: center;
}

.login-form{
  border: solid lightgray;
  width: 300px;
  height: 200px;
  text-align: left;
  display: grid;
}

.login-btn{
  background-color: #efa449;
}

.signup-form{
  display: grid;
  place-items: center;
}

.signup{
  border: solid lightgray;
  width: 400px;
  height: 300px;
  text-align: left;
  display: grid;
}


.signup-btn{
  background-color: rgb(63, 235, 89);
}

.e-commerce-logo1{
  width: 200px;
}

.checkout{
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.checkout-title{
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.check-ad{
  width: 100%;
  margin-bottom: 10px;
}

.product-display{
  display: flex;
  margin: 0px 170px;
  align-items: left;
}

.product-title2{
  color: #3d3d3d;
  font-size: 40px;
  font-weight: 700;
}

.stars{
  align-items: center;
  margin-top: 13px;
  gap: 5px;
  color: #1c1c1c;
  font-size: 16px;
}

.product-price2{
  margin: 40px 0px;
  gap: 30px;
  font-size: 24px;
  font-weight: 700;
}

.product-btn{
  padding: 20px 40px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #FF4141;
  margin-bottom: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}

.product-category span{
  font-weight: 600;
}

